<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastero</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.teal-red.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Gastero</span>
            </div>
            <!-- Tabs -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#gastos" class="mdl-layout__tab is-active">Gastos</a>
                <a href="#fixed-tab-2" class="mdl-layout__tab">Ganhos</a>
                <a href="#fixed-tab-3" class="mdl-layout__tab">Relatórios</a>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
        </div>
        <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="gastos">
                <div class="page-content">
                    <!-- ADD GASTO -->
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-card mdl-shadow--4dp">
                            <div class="mdl-card__supporting-text form-gasto">
                                <form @submit="novoGasto" action="#">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
                                        <input class="mdl-textfield__input" type="text" id="nome-gasto" v-model="gasto.nome">
                                        <label class="mdl-textfield__label" for="nome-gasto">Com o que você gastou?</label>
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="valor-gasto" v-model="gasto.valor" number @blur="clearZero">
                                        <label class="mdl-textfield__label" for="valor-gasto">Quanto custou?</label>
                                        <span class="mdl-textfield__error">O valor precisa ser um numero né?</span>
                                    </div>

                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" v-bind:disabled="!isValid">
                                        ADICIONAR GASTO
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- TABLE GASTOS -->
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop">
                            <table class="mdl-data-table mdl-shadow--2dp full-width">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">Nome</th>
                                        <th>Preço</th>
                                        <th>Excluir</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="gasto in gastos">
                                        <td class="mdl-data-table__cell--non-numeric">{{gasto.nome}}</td>
                                        <td>{{gasto.valor}}</td>
                                        <td>
                                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" @click="removeGasto(gasto)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr class="total-gastos">
                                        <td colspan="3"><strong>Total de gastos do período: {{totalGastos}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </section>
            <section class="mdl-layout__tab-panel" id="fixed-tab-2">
                <div class="page-content">
                    <!-- Your content goes here -->
                </div>
            </section>
            <section class="mdl-layout__tab-panel" id="fixed-tab-3">
                <div class="page-content">
                    <!-- Your content goes here -->
                </div>
            </section>
        </main>
    </div>




    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="node_modules/material-design-lite/material.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>